@{
    ViewBag.Title = "Home Page";
}

<div id="Content">
    <div id="RandomChar"></div>
    <div id="KeyBoard">
        <span class="Buttons"></span>
    </div>

    <script>
        SelectCharacter();
    </script>
</div>