@{
    ViewBag.Title = "Home Page";
}

<div id="Content">
    <div id="Infopanel">
        <span class="Infotext">Találat: </span>
        <span class="Infotext" id="Correct">0</span>
        <span class="Infotext">Hiba: </span>
        <span class="Infotext" id="Wrong">0</span>
        <span class="Infotext" id="Timer">0 : 0</span>
        <script>
            setInterval(Timer, 1000);
        </script>
    </div>
    <div id="RandomChar"></div>
    <div id="Keyboard">
        <script>
            Keyboard();
        </script>
    </div>

    <script>
        SelectCharacter();
    </script>
</div>